################################################################################################
#                                                                                              #
#                                     build.prop                                               #
#                                                                                              #
################################################################################################
export SUNMI_DEVICE_MODEL=P1_4G                    #机器默认Model值
export SUNMI_DEVICE_BOARD=P1\(4G\)                 #商米机器大机型
export SUNMI_DEVICE_HARDWARE=W6900\(4G\)           #仅供硬件送测使用

export SUNMI_VERSIONCODE=$BUILD_ID                 #商米构建号 101
export SUNMI_VERSIONNAME=$VERSION_NAME             #商米版本号 1.0.1
export SUNMI_BUILDTYPE=Release                     #商米版本类型 UAT/TEST/Release

################################################################################################
#                                                                                              #
#                                     Sunmi Screen Size                                        #
#                                                                                              #
################################################################################################
export SUNMI_SCREEN_SIZE=1366x768                  #机器默认分辨率

################################################################################################
#                                                                                              #
#                                            GMS                                               #
#                                                                                              #
################################################################################################
export SUNMI_GMS=google                            #GMS 在vendor下的路径[partner_gms, google]

